/* settings */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0d78c5;
  --icon-color: #aaf4e1;
  --dark-bcg: #242424;
  --text-white: rgba(255, 255, 255, 0.87);

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

body {
  min-width: 320px;
  font-family: 'Ubuntu', sans-serif;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

ul, ul, li {
  list-style: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--icon-color);
}

/* themes */

body:has(.App.dark_theme) {
  background-color: var(--dark-bcg);
  color: var(--text-white);
}

body:has(.App.light_theme) {
  background-color: #f9f9f9;
  color: #213547;
}
body:has(.App.light_theme) main .profile {
  color: var(--text-white);
  text-shadow: 1px 2px #333;
}
body:has(.App.light_theme) #toggle {
  background: #fff;
  box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
              inset 0 2px 8px rgba(0,0,0,0.1),
              inset 0 -4px 4px rgba(0,0,0,0.05);
}
body:has(.App.light_theme) #toggle .indicator {
  left: 40px;
  background: linear-gradient(to bottom,#eaeaea,#f9f9f9);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1),
              inset 0 4px 4px rgba(255,255,255,1),
              inset 0 -4px 4px rgba(255,255,255,1);
}
body:has(.App.light_theme) .logo:before,
body:has(.App.light_theme) .logo:after {
  color: #213547;
}
body:has(.App.light_theme) a:hover {
  color: #747bff;
}
body:has(.App.light_theme) .to-top {
  background-color: var(--icon-color);
  box-shadow: inset 0px 1px 8px var(--primary-color);
}
body:has(.App.light_theme) .projetos .card-container {
  box-shadow: 0px 0px 16px var(--dark-bcg);
}
body:has(.App.light_theme) .skills__card {
  color: var(--text-white);
}

/* header  */

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 777;
  width: 100%;
  height: 80px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.sticky {
  background: transparent;
  backdrop-filter: blur(12px);
}

header ul {
  display: flex;
  justify-content: space-between;
  gap: 3em;
  font-size: 1.25rem;
}

.logo {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2rem;
}
.logo:before {
  content: "<";
  font-size: 2rem;
  color: var(--icon-color);
  font-weight: 700;
}
.logo:after {
  content: "/>";
  font-size: 2rem;
  color: var(--icon-color);
  font-weight: 700;
}

#toggle{
  position: relative;
  width: 80px;
  height: 40px;
  border-radius: 160px;
  background: #222;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
              inset 0 8px 8px rgba(0,0,0,0.1),
              inset 0 -4px 4px rgba(0,0,0,0.1);

}

#toggle .indicator{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom,#444,#222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(0,0,0,0.5),
              inset 0 4px 4px rgba(255,255,255,0.2),
              inset 0 -4px 4px rgba(255,255,255,0.2);
  transition: 0.5s;
}

/* return to top button  */

.to-top {
  position: fixed;
  z-index: 1000;
  bottom: 800px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  visibility: hidden;
  color: #0d78c5;
  font-size: 2.2rem;
  border-radius: 50%;
  background-color: #213547;
  box-shadow: inset 0px 1px 8px var(--icon-color);
  transition: 0.5s;
  opacity: 0;
}
.to-top.appear-on-scroll {
  visibility: visible;
  opacity: 1;
  bottom: 40px;
}

a:has(.icon-to_top) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* main  */

main .profile {
  font-size: 1.5rem;
  text-shadow: 1px 2px #333;
}

.profile__name {
  color: var(--primary-color);
  font-size: 4rem;
}

section {
  min-height: 100vh;
  padding-top: 80px;
}

.section__title {
  font-size: 4.5rem;
}

.description__title, .skills__title {
  font-size: 2.2rem;
}

/* home section  */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 12px;
  background-image: url('./assets/BcgTech.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding-top: 0;
  box-shadow: inset 0 -40px 40px #000;
}

/* about section */

.sobre-mim {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

ul.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  height: 720px;
  gap: 2rem;
  overflow: scroll;
}

ul.skills__container::-webkit-scrollbar {
  display: none;
}

.skills__card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 220px;
  height: 320px;
  padding: 12px;
  background-image: url('assets/deep_space.jpg');
  border: 4px solid #63657a;
  cursor: pointer;
}

.skills__card div.tec_name {
  border-top: 2px solid #7a7a78;
  border-left: 2px solid #7a7a78;
  border-right: 2px solid #242424;
  border-bottom: 2px solid #242424;
  padding: 4px;
}
.skills__card div.tec_picture {
  height: 210px;
  border: 2px solid #7a7a78;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(8px);
}
.skills__card div.tec_picture i {
  font-size: 3rem;
}
.skills__card div.tec_description {
  display: none;
}

/* projects section  */

.projetos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projetos .card-container {
  background-image: url('assets/Pixel_coding.gif');
  background-repeat: no-repeat;
  background-size: 100% 120%;
  background-position: center;
  height: calc(100vh - 160px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: inset 0 -10px 40px #000;
}

.projetos .card {
  display: flex;
  height: 120px;
  width: 340px;
  flex-direction: column;
  border-radius: 12px;
  background-color: transparent;
  backdrop-filter: blur(16px);
  box-shadow: 1px 1px 4px #242424;
}

.card span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 700;
  color: #213547;
  text-shadow: 0px 0px 2px var(--text-white);
}

/* contacts section  */

.contatos {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.social a {
  font-size: 2em;
}

/* footer  */

footer {
  height: 50px;
  width: 100%;
  background-color: #0005;
  border-top: 2px solid white;
  font-size: 0.75rem;
  font-style: italic;
}