* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0d78c5;
  --icon-color: #aaf4e1;
  --dark-bcg: #242424;
  --text-white: rgba(255, 255, 255, 0.87);

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  min-height: 100vh;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  transition: background-color 0.4s ease-in-out;
}

body:has(.App.dark_theme) {
  background-color: var(--dark-bcg);
  color: var(--text-white);
}

body:has(.App.light_theme) {
  background-color: #f9f9f9;
  color: #213547;
}
body:has(.App.light_theme) main .profile {
  color: var(--text-white);
  text-shadow: 1px 2px #333;
}

#toggle{
  position: relative;
  width: 80px;
  height: 40px;
  border-radius: 160px;
  background: #222;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
              inset 0 8px 8px rgba(0,0,0,0.1),
              inset 0 -4px 4px rgba(0,0,0,0.1);

}
#toggle.active{
  background: #fff;
  box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
              inset 0 2px 8px rgba(0,0,0,0.1),
              inset 0 -4px 4px rgba(0,0,0,0.05);
}
#toggle .indicator{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom,#444,#222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(0,0,0,0.5),
              inset 0 4px 4px rgba(255,255,255,0.2),
              inset 0 -4px 4px rgba(255,255,255,0.2);
  transition: 0.5s;
}
#toggle.active .indicator{
  left: 160px;
  background: linear-gradient(to bottom,#eaeaea,#f9f9f9);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1),
              inset 0 4px 4px rgba(255,255,255,1),
              inset 0 -4px 4px rgba(255,255,255,1);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul, ul, li {
  list-style: none;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--icon-color);
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 777;
  width: 100%;
  height: 80px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  justify-content: space-between;
  gap: 3em;
  font-size: 1.25rem;
}

.logo {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2rem;
}
.logo:before {
  content: "<";
  font-size: 2rem;
  color: var(--icon-color);
  font-weight: 700;
}
.logo:after {
  content: "/>";
  font-size: 2rem;
  color: var(--icon-color);
  font-weight: 700;
}

main .profile {
  font-size: 1.5rem;
  text-shadow: 1px 2px #333;
}

.profile__name {
  color: var(--primary-color);
  font-size: 4rem;
}

section {
  min-height: 100vh;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 12px;
  background-image: url('./assets/BcgTech.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  box-shadow: inset 0 -40px 40px #000;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #0005;
  border-top: 2px solid white;
  font-size: 0.75rem;
  font-style: italic;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f9f9f9;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #ffffff;
  }
} */

@media (max-width: 3000px) {
  .navigation-icon {
    visibility: hidden;
  }
}